@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

hmtl {
    scroll-behavior: smooth;
}

div.wrapper {
    padding: 3rem;
}

/* Header */
/* styles.css */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1;
        flex-direction: column;
    }

    .show-menu ul {
        display: flex;
    }

    .show-menu li {
        margin: 15px 0;
    }
}

/* Info */

div.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.info-text h1 {
    font-size: 2.5rem;
    color: #333;
}

div.info-text p{
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
}

div.info-image {
    margin-top: 3rem;
}

div.info-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

h5 {
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}

div#aboutme p {
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    div.info {
        flex-direction: column;
    }

    div.info-text h1 {
        font-size: 2rem; 
        text-align: center; 
    }
    
    div.info-text p {
        font-size: 1.2rem;
    }
}

/* Education */
div#education ul, div#job ul, div#hobby ul, div#skills ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div#education ul li, div#job ul li,
div#hobby ul li, div#skills ul li {
    margin-top: 30px;
    font-size: 1rem;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 768px) {
    div.wrapper {
        padding: 1.5rem;
    }

    div#education ul,
        div#job ul,
        div#hobby ul,
        div#skills ul {
            flex-direction: column;
            align-items: center;
    }
}

/* Contact */
div#contact-form .form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input {
    width: 100%;
    outline: #a2a0a0;
    border-radius: 3px;
    border: 1px solid #333;
    padding: 10px;
    color: #333;
    font-size: 1rem;
}

textarea {
    height: 200px;
    width: 100%;
    outline: none;
    padding: 15px;
    color: #333;
    font-size: 1rem;
}

input[type=submit] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}

input[type=submit]:hover {
    background-color: #151414;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}